* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
   
}

#header {
    position: absolute;   
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1;
    position: fixed;
    
}

#header .container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

#header .container .logo {
    width: 25%;
}

#header .container .logo a {
    font-size: 35px;
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header .nav-menu {
    width: 40%;
}

#header .nav-menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0%;
    padding: 0%;

}

#header .nav-menu ul li a {
    color: aliceblue;
    padding: 20px;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* header end */
.section-one {
    height: 100vh;
    background-image: url(../image/bg-masthead.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.section-one .box-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

}

.section-one .box-text h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 25px;
   
}

.section-one .box-text hr {
    width: 10%;
    margin: 20px auto;
    background-color: orange;
    padding: 1.5px;
    border: none;
    border-radius: 20px;
}

.section-one .box-text button {
    background-color: orange;
    color: #fff;
    padding: 20px 25px;
    margin-top: 20px;
    border-radius: 8mm;
    border: none;
    transition: 1s;
}

.section-one .box-text button:hover {
    background-color: blue;
}

.page{
    width: 100%;
    height: 50vh;
    background-color: rgb(244, 98, 58);
    position: relative;
}
.page .txt-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.page .txt-1 h1{
    font-size: 2rem;
    color: white;
    font-weight: 500;
    text-align: center;
    
}
.page .txt-1 hr{
    width: 50px;
    margin: 35px auto;
    background-color: #fff;
}
.page .txt-1 p{
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2rem;
}
.page .txt-1 a{
    border: 1px solid #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    transition: 0.5s;
}
.page .txt-1 a:hover{
    background-color: blue;
    color: azure;
    border: none;
}

/* 3 cu sehife */
.page-section{
}


.page-section .txt-centre h1{
    color: black;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.page-section .txt-centre hr{
    width:  50px;
    margin: 10px auto;
    border: none;
    height: 2px;
    background-color: orange;

}
.page-section .boxes12{
   
}
.page-section .boxes12 .icons{
    display: flex;

}
.page-section  .boxes12 .icon i{
    color: orangered;
    font-size: 50px;
}
.page-section  .boxes12 .icon{
    text-align: center;
}
.page-section  .boxes12 .icon h1{
    color: black;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.page-section  .boxes12 .icons .icon p{
    color: rgb(37, 33, 33);
    font-size: 16px;
    font-weight: 400;

}
.portfolio-picture{
  margin-top: 40px;
}

.portfolio-picture .picture img{ 
  
    width: 33%;



}
.portfolio-section{
    background-color: rgb(20, 184, 129);
    padding: 8rem;
}
.portfolio-section .context{
    text-align: center;
}
.portfolio-section .context h1{
    margin-bottom: 40px;
    color: white;
    font-size: 32px;
    font-weight: 400;
}
.portfolio-section .context a{
    text-decoration: none;
    padding: 16px 32px;
    color: black;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.6s;

}
.portfolio-section .context a:hover{
    background-color: orange;
  color:#fff
}



